<section id="about-us" class="clearfix">
  <div class="container">
    <div class="row row-padding">
      <div class="col-md-8">
        <div class="heading">
          <div class="title-style-3">
            <h2 class="text-uppercase"> About</h2>
            <span class="title-spt"></span> </div>
            <p>No one is good at everything. As much as you may be in command of your core offering, chances are your messaging doesn’t quite make the grade.</p>
            <p>I help businesses get their messages out clearly, concisely and accurately. My comprehensive list of services help clients who struggle with content reach their target audiences with sharp, meaningful and relevant information.</p>
            <p>Whether it’s your branding, website, application, social media account or more, getting to the point and conveying simply and strong what you do or offer is essential. That’s where I come in.</p>
        </div>
      </div>
      <div class="col-md-3 col-md-offset-1 text-center">
        <div>
          <img src="/images/home/headshot.jpg" class="img-responsive headshot" style="margin-bottom: 20px;">
          {% include social.html %}
      </div>
    </div>
  </div>
</section>
