<head>
<!--[if IE 9]>         <html class="ie9"> <![endif]-->
<!-- Meta Data -->
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<meta charset="utf-8" />
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<!-- Core Meta Data -->
<meta name="author" content="GoloThemes">
<meta name="description" content="ENGAGE v1.0. Responsive One Page Theme.">
<meta name="keywords" content="ENGAGE v1.0, responsive, one page, portfolio, parallax, template, html5">
<!-- Open Graph Meta Data -->
<meta property="og:description" content="ENGAGE v1.0. Responsive One Page Theme.">
<meta property="og:image" content="http://www.golothemes.com/demo/tiara/preview_image.png">
<meta property="og:site_name" content="ENGAGE v1.0">
<meta property="og:title" content="ENGAGE v1.0">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.golothemes.com/">
<!--Favicon-->
<link rel="shortcut icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
<link rel="shortcut icon" href="/images/favicons/favicon-16x16.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png">
<!--Loader-->
<link rel="stylesheet" href="/css/preloader/preloader.css" type="text/css" />
<!--Framework Styles-->
<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" type="text/css" />
<!--Fonts Styles-->
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<!--Icons Styles-->
<link rel="stylesheet" href="/css/icons/font-awesome.min.css" type="text/css" />
<link rel="stylesheet" href="/css/icons/ionicons.min.css" type="text/css" />
<!--animation-->
<link rel="stylesheet" href="/css/animate.css" type="text/css" />
<!--Custom Styles-->
<link rel="stylesheet" href="/css/customizations.css" type="text/css" />
<!--Venders Styles-->
<link rel="stylesheet" href="/css/owl/owl.carousel.css" type="text/css" />
<link rel="stylesheet" href="/css/cubeportfolio/cubeportfolio.css" type="text/css" />
<link rel="stylesheet" href="/css/nav/navigation-top.css" type="text/css" />
<!--Default Styles-->
<link rel="stylesheet" href="/css/styles.css" type="text/css" />
<!-- LESS stylesheet for managing color presets -->
<link rel="stylesheet" type="text/css" href="/css/theme.css">
<!--Responsive Styles-->
<link rel="stylesheet" href="/css/responsive.css" type="text/css" />
<!--HTML5 JS-->
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!--Google Analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72945205-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
