<section id="home" class="mainBanner banner-2 parallax clearfix" data-background="/images/home/main.jpg">
  <div class="parallax-overlay bg-strip"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-md-offset-2">
        <div class="mainBanner-content text-uppercase">
          <h1>JD EATON</h1>
          <p><span id="js-rotating" data-animation="fadeIn">Web&nbsp;Design, Creative&nbsp;Direction, Corporate&nbsp;Branding, UX/UI, Social&nbsp;Strategy</span></p>
          <a href="#about-us" class="btn-bdr move">GET TO KNOW ME</a> <span class="downArrow"><img src="images/others/down-arrow.png" alt="down arrow"></span>
        </div>
      </div>
    </div>
  </div>
</section>
