<section id="services" class="bgColor1 clearfix">
  <div class="container">
    <div class="row row-padding">
        <div class="heading text-center wow fadeIn" data-wow-delay=".2s" data-wow-duration="1s">
          <div class="title-style-3 center">
            <div class="title-2">
              <h2 class="text-uppercase">Areas of Focus</h2>
              <span class="title-spt"></span>
            </div>
          </div>
        </div>
      <div class="services-wrapper">
        <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s" data-wow-duration=".9s">
          <div class="item">
            <div class="service-sliderBox">
              <span> <i class="icon ion-monitor"></i> </span>
              <h5 class="text-capitalize">Web Design</h5>
              <p> Beautiful, structured and compelling websites that promote your products and services to the world</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".9s">
          <div class="item">
            <div class="service-sliderBox">
              <span> <i class="icon ion-android-bulb"></i> </span>
              <h5 class="text-capitalize">Creative Direction</h5>
              <p> Establishing the look, the feel and the voice into a singular creative vision that helps your business get noticed</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay=".9s" data-wow-duration=".9s">
          <div class="item">
            <div class="service-sliderBox">
              <span> <i class="icon ion-paper-airplane"></i> </span>
              <h5 class="text-capitalize">Corporate Branding</h5>
              <p> All of your collateral and distribution channels consistently speaking with one aesthetic voice</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay=".12s" data-wow-duration=".9s">
          <div class="item">
            <div class="service-sliderBox">
              <span> <i class="icon ion-funnel"></i> </span>
              <h5 class="text-capitalize">Inbound Marketing</h5>
              <p> Attracting qualified prospects to your business through content &mdash; and keeping them coming back</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay=".15s" data-wow-duration=".9s">
          <div class="item">
            <div class="service-sliderBox">
              <span> <i class="icon ion-map"></i> </span>
              <h5 class="text-capitalize">UX/UI</h5>
              <p> Creating exceptional product usability experiences paired with aesthetic, structured interfaces </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay=".18s" data-wow-duration=".9s">
          <div class="item last">
            <div class="service-sliderBox">
              <span> <i class="icon ion-android-share-alt"></i> </span>
              <h5 class="text-capitalize">Social Strategy</h5>
              <p> Promoting your company’s personality and identifying opportunities through relevant social channels </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
