<ul class="footer-socials clearfix">
    {% if site.social.twitter %}
    <li><a href="{{ site.social.twitter }}" target="_blank" class="foo_social"><i class="fa fa-twitter"></i></a></li>
    {% endif %}
    {% if site.social.dribbble %}
    <li><a href="{{ site.social.dribbble }}" target="_blank" class="foo_social"><i class="fa fa-dribbble"></i></a></li>
    {% endif %}
    {% if site.social.linkedin %}
    <li><a href="{{ site.social.linkedin }}" target="_blank" class="foo_social"><i class="fa fa-linkedin"></i></a></li>
    {% endif %}
    {% if site.social.behance %}
    <li><a href="{{ site.social.behance }}" target="_blank" class="foo_social"><i class="fa fa-behance"></i></a></li>
    {% endif %}
    {% if site.social.github %}
    <li><a href="{{ site.social.github }}" target="_blank" class="foo_social"><i class="fa fa-github"></i></a></li>
    {% endif %}
    {% if site.social.instagram %}
    <li><a href="{{ site.social.instagram }}" target="_blank" class="foo_social"><i class="fa fa-instagram"></i></a></li>
    {% endif %}
</ul>
