<section id="twitter" class="parallax clearfix" data-background="images/home/main.jpg">
  <div class="parallax-overlay bg-strip"></div>
  <div class="container-fluid">
    <div class="row row-padding">
      <div class="col-md-6 col-md-offset-3 col-sm-12 wow fadeIn" data-wow-delay=".3s" data-wow-duration="2s">
        <span class="twitt-circle"><i class="fa fa-quote-left"></i></span>
          <!--Twiiter Slider-->
            <div class="twitter-slider text-center golo-carousel" data-navigation="false" data-stoponhover="true" data-autoplayspeed="1000" data-dots="true" data-autoplay="true">
          <!--Slide 1-->
          <div class="item">
            <div class="tweet-feed">
              <p>JD understands branding and corporate identity better than anyone I've met in the industry. He builds meaning into everything he creates, leading to truly meaningful and effective results for those he serves. He is an excellent decision-maker and is very proactive about every project. Furthermore, JD's talents extend well beyond design &mdash; he has a writer's ear and thoroughly conceptualizes every project from start to finish.</p>
            </div>
            <p>Scott Finkelstein</p>
          </div>
          <!--/ Slide 1-->
          <!--Slide 2-->
          <div class="item">
            <div class="tweet-feed">
              <p>JD has terrific creative direction and comes to projects with a fresh perspective. He fosters engaging ideation and concept development sessions and always available for brainstorms. He has a talent for shaping and molding strategically-sound creative.</p>

              <p>As a Copywriter, JD is the ideal Art Director to work with because he encourages collaboration and artistically hones the intangible and often, wild ideas that emerge from creative teams.</p>
            </div>
            <p>Mike Altier</p>
          </div>
          <!--/ Slide 2-->
        </div>
        <!--/Twiiter Slider-->
      </div>
    </div>
  </div>
</section>